body {
    text-align: center;
    margin: 20px;
}

#image-container {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    background-color: #f9f9f9;
}

#daily-image {
    max-width: 100%;
    height: auto;
}


h1 {
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
}

.gallery img {
    width: 100%;
    height: auto;
    display: block;
}
